# {{ ansible_managed }}
[Unit]
Description=Responder ({{ coercion_tools_responder_service_args }})
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{ coercion_tools_responder_bin }} {{ coercion_tools_responder_service_args }}
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
